<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Order Notify Settings</title>
        <title lang="de-DE">Order Notify Einstellungen</title>

        <input-field>
            <name>email</name>
            <label>Email Adresse</label>
        </input-field>


        <input-field>
            <name>botId</name>
            <label>Bot Id</label>
        </input-field>
        <input-field>
            <name>channelId</name>
            <label>Channel Id</label>
        </input-field>

    </card>

</config>
